SUBSYSTEM=="tty", KERNELS=="1-1.5.2.1", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="ws_display_link", TAG+="systemd", ENV{SYSTEMD_WANTS}+="ws_display.service"
