[Unit]
BindsTo=dev-ws_display_link.device graphical-session.target
After=dev-ws_display_link.device
Description=ws_display service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/ws_display
StandardError=null

[Install]
WantedBy=dev-ws_display_link.device
