[Unit]
BindsTo=dev-ws_display_link.device
Requisite=i3.target
After=dev-ws_display_link.device i3.target
Description=ws_display service

[Service]
Restart=no
EnvironmentFile=/etc/environment
ExecStart=/usr/local/bin/ws_display
StandardError=null

[Install]
WantedBy=dev-ws_display_link.device i3.target
